// ==========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Header
//  2. Body
//  3. Footer


// 1. Header
// ==========================================================================

$header-altura-minima: 90px !default;
$menu-line-height: 100px;

// 2. Body
// ==========================================================================

$body-altura-minima: 700px !default;

// 3. Footer
// ==========================================================================

$footer-altura-minima: 200px !default;

// 4. Sombras
// ==========================================================================

$shadow-color: #000;
