@charset "utf-8";

.pagina{
    width: 100%;
    margin: 0 auto;
}
@media only screen and (orientation: portrait) {
    html body
    {
        /*background-image: url("../img/portada-2.jpg");*/
    }
    #bodyInterior{}
    #cabeza, .cabeza{
        min-height:2em;
    }
    #principal{
        width:100%;
        min-height:20em;
    }
    #pie{
        min-height:300px;
    }
}
@media only screen and (orientation: landscape) {
    html body
    {
        /*background-image: url("../img/portada-1.jpg");*/
    }
    #bodyInterior{}
    #cabeza, .cabeza{
        min-height:1em;
    }
    #principal
    {
        width:100%;
        min-height:20em;
    }
    #pie{
        min-height:300px;
    }
}















